@tailwind base;
@tailwind components;
@tailwind utilities;

.Mui-checked {
    color: #f85606 !important;
}

.slick-prev,
.slick-next {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    left: 0 !important;
    z-index: 2;
    transition: all 100ms linear;
}

.slick-next {
    left: unset !important;
    right: 0 !important;
}